POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=ec_development

DB_HOST=db
DB_USERNAME=postgres
DB_PASSWORD=password

RAILS_ENV=development
NEXT_PUBLIC_API_URL=http://localhost:3000
NEXTAUTH_SECRET=change-me-to-a-random-secret-in-production
NEXTAUTH_URL=http://localhost:3001
